.tweet-modal-container-mobile {
    padding-bottom: 50px;
}

.larger-icon {
    font-size: 20px;
}

.nav-button-mobile {
    width: 45px;
    padding: 13px 13px;
}

.mobile-icons {
    margin-bottom: 30px;

}
