.end-container {
    /* width: 100px;
    padding: 0; */
    margin: 30px 0 0 15px;
    display: inline-block;
    vertical-align: top;
    /* position: fixed; */
    width: 320px;
    height: 300px;

}

.recommended-follows {
    background-color: rgb(246, 249, 249);
    border-radius: 4%;
    display: inline-block;
    position: fixed;
    /* right: 330px; */
}

.recommended-follows-content {
    padding: 15px;
    display: inline-block;
}

.recommended-follows-content h4 {
    margin-top: 0;
    display: inline-block;
    width: 300px;
}

.each-follower-box {
    display: grid;
    grid-template-columns: 55px 165px 80px;
    padding-bottom: 10px;
}

.follow-profile-img {
    /* width: 43px;
    height: 43px;
    object-fit: cover; */

    margin-right: 14px;

}

.follower-info-box {
    width: 165px;
    display: inline-block;
    margin: 0
}

.follower-info-box p {
    display: inline;
    width: 20px;
    margin: 0;
}



.small-p-bold {
    font-size: 13.5px;
    font-weight: 700;
    display: block;
}

.small-p {
    font-size: 13.5px;
    display: block;

}

.bold-large {
    font-size: 18px;
    padding-top: 2px;
}
