.comment-inline-container {
    padding: 18px 0;
    display: grid;

}

.tweet-comment-container {
    /* padding: 13px; */
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.tweet-comment-container2 {
    padding: 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.tweet-comment-container3 {
    padding: 20px 20px 25px 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.comment-form {
    display: block;
}

.comment-icons-gif-img {
    display: block;

}

.inline {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
}

#inline {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
}

#inputTag {
    display: none;

}

.btn-float-right {
    float: right;
    vertical-align: center;
    padding: 10px 20px;
}


.display-img-gif {
    width: 100%;
    margin-bottom: 20px;
    float: left;
    text-align: left;

}

.remove-gif-box {
    z-index: 3;
    position: relative;
    top: 25px;
    left: 5px;
}
