.signup-page-container {
    height: auto;
}

.cover-img-container {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.cover-img-img {
    width: 957px;
    object-fit: cover;
}

.cover-text-box {
    background-color: white;
    display: inline-block;
    width: 38%;
    padding: 15.7% 3%;
    /* padding: 20% 3%; */
    vertical-align: top;

}

.big-header {
    font-size: 67px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 30px;
}

.medium-header {
    font-size: 37px;
    font-family: 'Kanit', sans-serif;
}

.login-buttons {
    width: 48%;
    padding-top: 25px;
}

.login-btn {
    display: block;
    width: 100%;
}

.or-box {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 30px 0;
}

.or {
    text-align: center;
}

.or-style {
    color: rgb(187, 186, 186);
}

.line {
    border-top: 1px solid rgb(235, 235, 235);
    margin-top: 25px;
}

.logo-box-signup {
    width: 50px;
    height: 50px;
}

@media (max-width: 1375px) {
    .cover-img-container {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .cover-img-img {
        max-height: auto;
        /* max-width: 500px; */
        object-fit: cover;
    }

    .cover-text-box {
        width: 40%;
        padding: 15.7% 3%;

    }
}

@media (max-width: 500px) {
    .cover-img-container {
        display: none;
    }

    .cover-text-box {
        width: 100%;
        padding: 15.7% 3%;
    }

    .login-buttons {
        margin: 25px auto;
        width: 90%;
        padding-top: 25px;
    }
}
