.follow-btn {
    padding: 9px 18px;
    background-color: black;
    font-size: 13.5px;
    font-weight: 800;
    margin-top: 7px;
    width: 100%;
}

.following-btn {
    padding: 9px 18px;
    border: 1 solid black;
    color: black;
    background-color: white;
    font-size: 13.5px;
    font-weight: 800;
    margin-top: 7px;
    width: 100%;
}
