.tweet-container {
    padding: 15px;
    display: grid;
    grid-template-columns: 60px 1fr;
    border: 1px solid rgb(235, 235, 235);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.tweet-container2 {
    padding: 13px;
    display: grid;
    grid-template-columns: 60px 1fr;

}

.tweet-user-header {
    display: inline-block;
    width: 100%;
    padding-bottom: 7px;
}

.username-name-box {
    display: inline-block;
    width: 96.5%;

}

.settings-btn {
    display: inline-block;
}

.tweet-tweet-box {
    padding: 0 0 10px 0;
    width: 414px;
    overflow-wrap: break-word;
}

.tweet-profile-img {
    width: 43px;
    /* height: 43px; */
    /* object-fit: cover; */
    /* border-radius: 100%; */
    display: inline-block;
    margin-right: 14px;
}

.tweet-text-box {
    display: inline-block;
    width: auto;
}

h5 {
    font-size: 15px;
    margin: 0;
}

.thin-styling {
    font-weight: 400;
    color: rgb(83, 100, 113);
}

.tweet-text-box p {
    margin: 0;
    flex-direction: start;
}


.tweet-img-gif {
    width: 100%;
    float: left;
    text-align: left;
}

.img-gif {
    float: left;
    text-align: left;
    width: 100%;
    max-height: 500px;
    border-radius: 10px;

    object-fit: cover;
}

.tweet-icons-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    /* cursor: pointer; */
}

.tweet-icon {
    margin: 0 auto;
    vertical-align: center;
}

.name-username {
    display: inline-block;
}


.vl {
    border-right: 2px solid lightgrey;
    height: 88%;
    margin-right: 21px;
    margin-top: 5px;
}

.thin-styling-small {
    font-weight: 400;
    color: rgb(83, 100, 113);
    font-size: 13.5px;
}

.bio-styling {
    padding-top: 7px;

}

.tweet-user-header-follow {
    display: grid;
    grid-template-columns: 400px 100px;
    width: 100%;
    padding-bottom: 7px;
}

.tweet-container-follow {
    padding: 13px;
    display: grid;
    grid-template-columns: 60px 1fr;

}
