.tweet-container {
    padding: 3% 0;
    display: grid;

    grid-template-columns: 60px 580px;
}



.tweet-profile-img {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 100%;
    display: inline-block;
    margin-right: 14px;

}

.tweet-text-box {
    display: inline-block;
    width: 580px;
}

h5 {
    font-size: 15px;
    margin: 0;
}

.thin-styling {
    font-weight: 400;
}

.tweet-text-box p {
    margin: 0;
    flex-direction: start;
}

.tweet-icon-box {
    display: inline-flex;
    width: 100px;
}

.tweet-img-gif {
    width: 100%;
    float: left;
    text-align: left;
}

.img-gif {
    float: left;
    text-align: left;
}
