.tweet-bold-styling {
    font-size: 18px;
    padding-top: 7px;
}

.one-tweet-container {
    /* padding: 13px; */

}

.outline {
    border-top: 1px solid rgb(235, 235, 235);

    padding: 15px 0;
}

.comment-img-gif {
    width: 100%;
    float: left;
    text-align: left;
    /* padding-bottom: 20px; */
}

.comment-stats-box {
    display: inline-flex;
    padding-left: 4px;
}

.comment-icons-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* height: 30px; */
    padding: 15px 0;
    justify-content: center;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);

}

.test {
    vertical-align: center;
}

.get-one-tweet-container {
    padding: 13px;
}

.comment-user-info-box {
    display: inline-block;
}

/* .inline {
    display: inline-block;
    width: 378px;
} */
