.giphy-modal-container {
    width: 615px;
    height: 615px;
}

.search-styling {
    border: 2px solid rgb(29, 155, 240);
    border-radius: 20px;
    margin: 10px;
    width: 335px;
    padding: 5px 0;
}

.gif-display-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    overflow: scroll;
}

.gif-header {
    display: inline-block;
    padding-top: 6px;
}

.back-button {
    display: inline-block;
    width: 50px;
    padding-left: 15px;
}

.search-gif {
    display: inline-block;
    width: 550px;
}

.search-button {
    display: inline-block;
    width: 40px;
}

.search-btn-icon {
    width: 40px;
    padding: 10px;
    margin-left: 20px;
}
