.cover-img {
    max-height: 190px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.user-profile-img-big-container {

    /* z-index: 1; */
    position: relative;
    /* top: 20%;
    left: 40%; */
}

.user-profile-img-big {
    width: 133px;
    height: 133px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px white solid;
    z-index: 0;
    position: absolute;
    /* bottom: 10%; */
    top: -70px;
    left: 3%;
}

.user-profile-header {
    padding: 5px 0;
    /* position: absolute; */
}

.following-button-box {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
}

.user-information-box {
    display: inline-block;
    padding: 5px 0 0 25px;
}

.user-bold-styling {
    font-size: 18px;
}

.user-information-box p {
    margin: 0;
}

.p-gray-small {
    font-size: 13px;
    color: rgb(121, 135, 145);
    padding-top: 2px;
    margin: 0;
}

.user-info-box-contents {
    padding: 95px 15px 40px 15px;
}

.website-calendar-box {
    display: block;
}

.website-box {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    padding-right: 30px;
}

.calendar-box {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;

}

.no-margin {
    margin: 0;
    padding-top: 20px;
}

.follower-styling {
    display: inline-flex;
    padding-right: 20px;
    margin: 0;
}

.bold {
    font-weight: 700;
    color: black;
    padding-right: 5px;
}


.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33px;
    text-align: center;
    /* margin: 0 0 15px 0; */
}

.features {
    font-weight: 500;
    color: rgb(120, 132, 143);
}

.active-feature-div {
    height: 1px;
    width: 70px;
    padding: 0 auto;
    display: inline-block;
}
