/* TODO Add site wide styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 15px 0 0 0;
}

.big-p {
    font-size: 20px;

}

a {
    text-decoration: none;
}

p {
    font-size: 15px;
}

button {
    border-radius: 25px;
    font-weight: 700;
    background-color: rgb(30, 155, 239);
    border: none;
    display: inline-block;
    padding: 13px 40px;
    color: white;
}

.black-btn {
    background-color: rgb(15, 20, 25);
    width: 100%;
}

.red-btn {
    background-color: rgb(244, 33, 46);
    width: 100%;
}

.outline-btn {
    background-color: white;
    border: 1px solid lightgrey;
    color: rgb(15, 20, 25);
    width: 100%;
    margin-top: 10px
}


#main-container {
    margin: 0 18%;
    display: inline-block;
    width: 65%;
}

.mid-end-container {
    display: inline-block;
    margin-left: 240px;
    width: 100%;
    vertical-align: top;
}

.middle-container {
    display: inline-block;
    width: 500px;
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    margin: 0 14px;
}

.blue-icon {
    color: rgb(29, 155, 240);
}

.disabled-blue-icon {
    color: rgb(142, 205, 248);
}

.disabled-btn {
    background-color: rgb(142, 205, 248);

}

.gray-icon {
    color: rgb(83, 100, 113);
    padding-right: 13px;
}

.gray-icon:hover {
    color: rgb(30, 155, 239);
}

.blue-text {
    color: rgb(30, 155, 239);

}

.pink-icon {
    color: rgb(249, 24, 128);
    padding-right: 13px;
}

.green-icon {
    color: rgb(0, 186, 124);
    padding-right: 13px;
}


.pointer {
    cursor: pointer;
}

.fa-heart:hover {
    color: rgb(249, 24, 128);
}

.gray-p {
    color: rgb(83, 100, 113);
    display: inline-block;
}

.pink-p {
    color: rgb(249, 24, 128);
    display: inline-block;
}

.green-p {
    color: rgb(0, 186, 124);
    display: inline-block;

}

.validation-errors {
    padding-bottom: 30px;
    color: #EE4F4F;
}

.validation-errors-signup {
    padding-top: 30px;
    color: #EE4F4F;
}

.validation-errors-comments {
    padding: 40px 0 10px 0;
    color: #EE4F4F;
}

.validation-errors-comments-inline {
    padding: 25px 0 10px 0;
    color: #EE4F4F;
}

.div-bottom-padding {
    padding: 0 0 30px 0;
}

.padding-top {
    padding: 15px 0;
}
