.search-profile-div {
    display: block;
    align-items: start;
    margin: 17px 0;
    align-content: start;
}

.profile-img-search {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 20px;
}

.search-user-info,
.search-user-info h5 {
    display: inline-block;
    align-content: start;
    vertical-align: top;
}

.search-popup {
    padding: 10px 20px;
    width: 334px;
    max-height: 500px;
    /* display: none; */
    visibility: hidden;
    z-index: 3;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    top: 55px;
    box-shadow: 0 0 10px lightgray;
}

.results-active {
    /* display: block; */
    visibility: visible;
}

.search-user-styling {
    border: none;
    position: fixed;
    /* border: 2px solid rgb(29, 155, 240); */
    border-radius: 30px;
    width: 350px;
    /* padding: 12px 0; */
    background-color: #eff3f4;
    /* margin-bottom: 30px; */
}

.search-user-styling input {
    all: unset;
    font-size: 15px;
    width: 280px;
}

.mag-glass {
    padding: 12px 20px;
    display: inline-block;
    color: #6a7985;
}
