a {
    color: rgb(15, 20, 26);
}

h3 {
    font-weight: normal;
}

button {
    cursor: pointer;
}

.nav-container-desktop {
    margin: 10px 40px 0 0;
    display: inline-block;
    width: 200px;
    height: 100px;
}

.nav-container-mobile {
    margin: 10px 0 0 0;
    display: none;
    width: 65px;
    height: 100%;
}

@media (max-width: 1265px) {
    .nav-container-desktop {
        display: none;
    }

    .nav-container-mobile {
        display: inline-block;
    }

}

@media (max-width: 1173px) {
    .end-container {
        display: hidden;
    }
}

@media (max-width: 770px) {

    .middle-container {
        width: 500px;
    }

    .tweet-user-header-follow {
        grid-template-columns: 310px 100px;

    }
}

@media (max-width: 662px) {

    #main-container {
        padding: 0;
    }

    .middle-container {
        width: 308px;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-container-mobile {
        display: inline-block;
        /* margin-right: 10px; */
    }

    .tweet-user-header-follow {
        grid-template-columns: 120px 100px;

    }

    .tweet-tweet-box {
        width: 215px;
    }

}

.nav-ul {
    position: fixed;
    top: 15px;
}

.nav-ul-mobile {
    position: fixed;
    top: 15px;
    width: 65px;
    text-align: center;
    justify-content: center;
    /* margin-left: 30px; */
}


.active {
    font-weight: 700;
    size: 25px;
}

.nav-container li {
    text-decoration: none;
    padding: 0 0 8px 0;
}

.nav-grid {
    display: grid;
    grid-template-columns: 55px 100px;
}


.nav-icon-box {
    width: 30px;
    padding-top: 15px;
}

.nav-icon-box-mobile {
    width: 30px;
    margin: 0 auto;
}

.nav-container h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.nav-container-mobile h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.nav-icons {
    font-size: 25px;
    /* padding-right: 30px; */
    align-items: center;
    margin: auto;
}

.nav-icons1 {
    font-size: 25px;
    padding-left: 2px;
    align-items: center;
    margin: 0;
}

.nav1 {
    padding-top: 2px;
}

.nav-icon::after {
    color: black;
}

.nav-button {
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
}

.logo-container {
    width: 35px;
    padding-bottom: 20px;
}

.profile-image-box {
    width: 40px;
    display: inline-block;
}

.profile-img {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 100%;
}

.profile-img-mobile {
    margin: 0 auto;
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 100%;
}

.user-info-container {
    display: inline-flex;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 2.94em 31.6em 1.563em;
}

@media (max-width: 960px) {
    .user-info-container {
        grid-template-columns: 2.94em 13.7em 1.563em;
    }
}

.user-info-container-mobile {
    /* display: inline; */
    padding-bottom: 15px;
    width: 65px;
    margin: 0 auto;

}

.user-info-content {
    width: 80%;
    padding-left: 15px;


}

.user-info-content2 {
    width: 176px;
    padding-left: 15px;


}

#footer {
    position: fixed;
    bottom: 0;
    width: 10%;
}

#footer-mobile {
    position: fixed;
    bottom: 0;
    width: 65px;
    margin: 0 auto;
}
