.nav-container {
    width: 10%;
    padding: 0;
    margin: 10px 40px 0 0;

}

.nav-container li {
    text-decoration: none;
    padding: 0 0 8px 0;
}

.nav-container h3 {
    display: inline-block;
    font-size: 20px;
}

.nav-icons {
    font-size: 25px;
    padding-right: 30px;
    align-items: center;
}

.nav-icon::after {
    color: black;
}

.nav-button {
    width: 100%;
}

.logo-container {
    width: 35px;
}

.profile-image-box {
    width: 40px;
}

.profile-img {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 100%;
}

.user-info-container {
    display: inline-flex;
}

.user-info-content {
    width: 80%;
    padding-left: 15px;
}
